@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #000;
    color: #fff;
}

a {
    @apply transition-colors;
    @apply duration-300;
}
img,
svg {
    @apply w-full h-full;
}

canvas {
    pointer-events: none;
}