@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000;
  color: #fff;
}

a {
  @apply transition-colors;
  @apply duration-300;
}
img,
svg {
  @apply w-full h-full;
}

canvas {
  pointer-events: none;
}

@font-face {
  font-family: Tomatoes Font;
  src: url('./assets/fonts/tomatoes-font/Tomatoes-O8L8.ttf');
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
